* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }

body,input {
  font-family: var(--font-inter);
}
h1,h2,h3,h4,h5 {
  font-family: var(--font-poppins);
}
  
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1200px;
    }
  }

:root {
    --main-orange-color: #FF9200;
    --main-blue-color: #5AC9F4;
    --second-blue-color: #2892D7;
    --second-orange-color: #FFB42B;
    --dark-gray-color: #595959;
    --dark-black-color: #363635;
}