.hero {
    height: 70vh;
    @media (max-width: 450px) {
        height: 60vh;
    }
    background-image: url("/hero-bg2.jpg");
    background-size: fill;
    background-position: center center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, rgb(40 146 215 / 70%), rgb(40 146 215 / 100%));
    }
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -100%;
        text-align: center;
        h1 {
            font-size: clamp(4rem, 5vw, 6rem);
            color: white;
            position: relative;
            letter-spacing: -10px;
        }
        p {
            color: var(--main-blue-color);
            font-weight: 500;
            font-size: clamp(1rem, 5vw, 1.5rem);
        }
        button {
            translate: 0 80px;
            padding: 5px 20px;
            font-weight: 500;
            border: 2px solid white;
            font-size: clamp(16px, 5vw, 20px);
            color: white;
            border-radius: 40px;
            transition: 0.2s ease-in;
            &:hover {
                color: var(--main-blue-color);
                background-color: white;
            }
        }
    }
}
.title {
    font-size: 32px;
    margin-bottom: 40px;
    hr {
        margin-top: 15px;
    }
    margin-bottom: 70px;
}
.categories {
    margin-block: 30px 50px;
    .cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        gap: 20px;
    }
    .cat {
        border-radius: 10px;
        padding: 10px 10px 10px 30px;
        @media (max-width: 450px) {
            padding: 10px;
        }
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        .holder {
            height: 100px;
            width: 100px;
            background-color: white;
            border-radius: 50%;
            position: relative;
        }
        .text {
            margin-left: 20px;
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        &:nth-last-child(1){
            @media (min-width: 1024px) {
                grid-column: auto / span 2;
                justify-self: center;
                align-self: center;
                width: 50%;
            }
        }
    }

}

.new {
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      
      .swiper-slide {
        width: 60%;
      }
      
      .swiper-slide:nth-child(2n) {
        width: 40%;
      }
      
      .swiper-slide:nth-child(3n) {
        width: 20%;
      }
}