.hero {
    height: 70vh;
    @media (max-width: 450px) {
        height: 60vh;
    }
    background-image: url("/hero-bg2.jpg");
    background-size: fill;
    background-position: center center;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(180deg, rgb(40 146 215 / 70%), rgb(40 146 215 / 100%));
    }
    .text {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -100%;
        text-align: center;
        h1 {
            font-size: clamp(4rem, 5vw, 6rem);
            color: white;
            position: relative;
            letter-spacing: -10px;
        }
        p {
            color: var(--main-blue-color);
            font-weight: 500;
            font-size: clamp(1rem, 5vw, 1.5rem);
        }
        button {
            translate: 0 80px;
            padding: 5px 20px;
            font-weight: 500;
            border: 2px solid white;
            font-size: clamp(16px, 5vw, 20px);
            color: white;
            border-radius: 40px;
            transition: 0.2s ease-in;
            &:hover {
                color: var(--main-blue-color);
                background-color: white;
            }
        }
    }
}
.title {
    font-size: 32px;
    margin-bottom: 40px;
    hr {
        margin-top: 15px;
    }
    margin-bottom: 70px;
}
.categories {
    margin-block: 30px 50px;
    .cont {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(377px, 1fr));
        gap: 20px;
    }
    .link {
        &:hover .cat {
            background-color: rgb(255 146 0 / 50%);
        }
        &:nth-last-child(1){
            @media (min-width: 1024px) {
                grid-column: auto / span 2;
                justify-self: center;
                align-self: center;
                width: 50%;
            }
        }
    }
    .cat {
        transition: 0.2s ease-in;
        border-radius: 10px;
        padding: 10px 10px 10px 30px;
        @media (max-width: 450px) {
            padding: 10px;
        }
        background-color: #f9f9f9;
        display: flex;
        align-items: center;
        .holder {
            height: 100px;
            width: 100px;
            background-color: white;
            border-radius: 50%;
            position: relative;
        }
        .text {
            margin-left: 20px;
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
    }

}

.showProducts {
    margin-bottom: 50px;
    .mySwiper {
        height: 470px;
        @media (max-width:1119px) {
            height: 485px;
        }
        overflow-x: hidden;
        overflow-y: visible;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        /* align-items: center; */
      }
      
      /* .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      } */
      
      .swiper-slide {
        width: 60%;
      }
      
      .swiper-slide:nth-child(2n) {
        width: 40%;
      }
      
      .swiper-slide:nth-child(3n) {
        width: 20%;
      }
    .product {
        text-align: start;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        /* justify-content: space-between; */
        .img {
            border-radius: 10px;
            margin-bottom: 10px;
            height: 300px;
            /* box-shadow: 0 0 0 0 black; */
            border: 1px solid #dcdcdc;
            position: relative;
            .heart {
                position: absolute;
                top: 10px;
                right: 10px;
                padding: 7px 6px 6px 6px;
                background-color: white;
                border-radius: 50%;
                cursor: pointer;
                border: 1px solid #dcdcdc;
                transition: 0.2s ease-out;
                &:hover {
                    background-color: rgba(255, 0, 0, 0.131);
                }
            }
        }
        p {
            font-size: 13px;
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            /* margin-block: 10px; */
            line-height: 1.3;
            color: #707070;
            /* translate: 0 -10px; */
            margin-top: 45px;
            /* margin-bottom: px; */
        }
        .front {
            translate: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            h3:first-child{
                line-height: 1.2;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
            h3:nth-child(2){
                translate: 0 -1px;
                color: var(--second-orange-color);
            }
        }
        button {
            translate: 0 -15px;
            /* z-index: 10; */
            width: fit-content;
            font-size: 16px;
            font-weight: 600;
            padding: 8px 15px;
            border: 2px solid black;
            border-radius: 50px;
            /* vertical-align: bottom; */
            margin-top: auto;
            transition: 0.2s ease-out;
            &:hover {
                background-color: var(--second-blue-color);
                color: white;
                border-color: var(--second-blue-color);
            }
        }
    }
    .swiper-pagination {
        translate: 0 13px;
        /* bottom: -30px;
        z-index: 10; */
        .swiper-pagination-bullet-active{
            background-color: var(--second-blue-color);
        }
    }
    .swiper-button-next,
    .swiper-button-prev{
        color: var(--second-blue-color);
    }
}