/* .order-table {
    position: absolute;
    width: 100%;
    font-size: 14px;
    margin: 20px 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    border-collapse: separate !important;
    border-spacing: 0;
    border: 2px solid red;
    overflow: hidden;
    tr {
      width: 200px;
    }
  }
  
  .order-table th:not(:last-of-type),
  .order-table td:not(:last-of-type) {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .order-table th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  .order-table td {
    color: #333;
  }
  
  .order-table .status-shipped {
    color: green;
  }

  
  .order-table .actions {
    text-align: right;
    color: #007bff;
    cursor: pointer;
  }
  
  @media (max-width: 767px) {
    .order-table {
      font-size: 12px;
    }
  
    .order-table th,
    .order-table td {
      padding: 8px;
    }
  } */

#tableHolder::-webkit-scrollbar{
  background-color: transparent;
  height: 5px;
}
#tableHolder::-webkit-scrollbar-thumb {
  background-color: rgb(214, 214, 214);;
  border-radius: 20px;
  transition: 0.3s ease;
}
#tableHolder::-webkit-scrollbar-thumb:hover {
  background-color: rgb(190, 190, 190);
}

/* .edit {
} */
#tableHolder {
  .momen{
    &::-webkit-scrollbar{
      background-color: transparent;
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(214, 214, 214);;
      border-radius: 20px;
      transition: 0.3s ease;
    }
    &::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 40px;
      }
      
      &::-webkit-scrollbar-track-piece:start {
        background: transparent;
        margin-top: 40px;
    }
      &::-webkit-scrollbar-thumb:hover {
      background-color: rgb(190, 190, 190);
    }
  }
  .header {
    text-align: left;
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e7eb;
    color: black;
  }
  form{
    div{
      display: flex;
      flex-direction: column;
      label{
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        text-wrap: balance;
      }
      input:not([type="submit"]){
        border-radius: 7px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        border: 1px solid #e4e4e7;
      }
      input:disabled{
        background-color: rgb(241, 241, 241);
      }
    }
    .btns {
      margin-top: 20px;
      input{
        /* border-radius: 7px;
        width: 100px;
        padding-block: 10px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        border: 2px solid var(--second-orange-color);
        color: white;*/
        background-color: var(--main-orange-color);
        margin: 0 auto;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.125rem; /* 0.5 * 0.25rem = 0.125rem */
        text-align: center;
        font-weight: 500; /* font-medium */
        position: relative;
        z-index: 10; /* focus:z-10 */
        outline: none; /* focus:outline-none */
        color: white;
        border: 1px solid transparent;
        border-radius: 0.5rem;
        padding-inline: 1rem;
        padding-block: 8px;
        cursor: pointer;
        font-size: 15px; /* 14px */
        line-height: 1.25rem; /* 20px */
      }
    }
  }
}