.profile {
    .title {
        font-size: 32px;
        margin-bottom: 40px;
        hr {
            margin-top: 15px;
        }
        margin-block: 30px 50px;
    }
    .content{
        margin-bottom: 70px;
        display: grid;
        grid-template-columns: 300px 1fr;
        column-gap: 25px;
        .side {
            border-radius: 20px;
            background-color: rgb(249, 249, 249);
            .top{
                padding-block: 20px 30px;
                padding-left: 10px;
                display: flex;
                align-items: center;
                .text{
                    margin-left: 20px;
                    p{
                        color: rgb(122, 122, 122);
                        font-size: 14px;
                    }
                }
                .userImg{
                    border: 2px solid rgb(203, 203, 203);
                }
            }
            .linkk{
                padding: 15px 20px 15px 10px;
                display: flex;
                align-items: center;
                font-size: 15px;
                font-weight: 500;
                transition: 0.2s ease-out;
                position: relative;
                &:last-child{
                    border-radius: 0 0 20px 20px;
                }
                &::before{
                    content: '';
                    width: 31px;
                    height: 30px;
                    background-color: rgb(249, 249, 249);
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    translate: 0px -49.3%;
                    border-radius: 0 10px 10px 0;
                }
                &:not(:last-child){
                    border-block: 1px solid rgb(231, 231, 231);
                }
                .imgg{
                    margin-right: 20px;
                    background-color: rgb(249, 249, 249);
                    border-radius: 50%;
                    z-index: 10;
                    padding-right: 5px;
                }
                &.active{
                    background-color: var(--main-blue-color);
                    color: white;
                }
            }
        }
        .profilePage{
            background-color: rgb(249, 249, 249);
            border-radius: 20px;
            h2{
                padding: 20px 0 20px 20px;
                color: #424c60;
                border-bottom: 1px solid rgb(231, 231, 231);;
            }
            .top{
                padding-top: 20px;
                padding-inline: 20px;
                display: flex;  
                justify-content: space-between;
                align-items: center;
                .editBtnn{
                    all: unset;
                    cursor: pointer;
                    font-weight: 500;
                    color: var(--second-blue-color);
                    &:hover{
                        text-decoration: underline;
                    }
                    span{
                        padding: 0;
                    }
                    img{
                        margin-right: 5px;
                        translate: 0 -2px;
                    }
                }
            }
        }
    }
}
.editProfileee{
    .line{
      display: flex;
      flex-direction: column;
      label{
        text-align: left;
        font-weight: 600;
        font-size: 14px;
        color: black;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        text-wrap: balance;
      }
      input:not([type="submit"]){
        border-radius: 7px;
        font-size: 0.8rem;
        margin-bottom: 10px;
        border: 1px solid #e4e4e7;
      }
    }
    #wilaya{
        background-color: white;
    }
}