.category_p {
    margin-block: 40px 50px;
    position: relative;
    min-height: 55.5vh;
    nav.breadcrumb {
        @media (max-width:599px) {
            display: none;
        }
        li.active a {
            color: var(--main-blue-color);
        }
    }
    .container .container {
        padding: 0;
        margin: 0;
    }
    .not-found {
        padding-block: 40px;
        color: #707070;
        text-align: center;
        margin: 0 auto;
    }
    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px 20px;
        margin-bottom: 70px;
        .product {
            text-align: start;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            /* justify-content: space-between; */
            .img {
                border-radius: 10px;
                margin-bottom: 10px;
                height: 300px;
                /* box-shadow: 0 0 0 0 black; */
                border: 1px solid #dcdcdc;
                position: relative;
                .heart {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    padding: 7px 6px 6px 6px;
                    background-color: white;
                    border-radius: 50%;
                    cursor: pointer;
                    border: 1px solid #dcdcdc;
                    transition: 0.2s ease-out;
                    &:hover {
                        background-color: rgba(255, 0, 0, 0.131);
                    }
                }
            }
            p {
                font-size: 13px;
                width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                /* margin-block: 10px; */
                line-height: 1.3;
                color: #707070;
                /* translate: 0 -10px; */
                margin-top: 45px;
                /* margin-bottom: px; */
            }
            .front {
                translate: 0 10px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                h3:first-child{
                    line-height: 1.25;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
                h3:nth-child(2){
                    translate: 0 -1px;
                    color: var(--main-orange-color);
                }
            }
            .button {
                translate: 0 10px;
                /* z-index: 10; */
                width: fit-content;
                font-size: 16px;
                font-weight: 600;
                padding: 8px 15px;
                border: 2px solid black;
                border-radius: 50px;
                /* vertical-align: bottom; */
                margin-top: auto;
                transition: 0.2s ease-out;
                &:hover {
                    background-color: var(--second-blue-color);
                    color: white;
                    border-color: var(--second-blue-color);
                }
            }
        }
    }
    .title {
        font-size: 20px;
        margin-bottom: 40px;
        hr {
            margin-top: 15px;
        }
        margin-bottom: 40px;
    }
    .categories {
        margin-top: 30px;
        .cont {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(387px, 1fr));
            gap: 20px;
        }
        .link {
            &:hover .cat {
                background-color: rgb(255 146 0 / 50%);
            }
        }
        .cat {
            transition: 0.2s ease-in;
            border-radius: 10px;
            padding: 10px 10px 10px 30px;
            @media (max-width: 450px) {
                padding: 10px;
            }
            background-color: #f9f9f9;
            display: flex;
            align-items: center;
            .holder {
                height: 100px;
                width: 100px;
                background-color: white;
                border-radius: 50%;
                position: relative;
            }
            .text {
                margin-left: 20px;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
            }
        }
    
    }
    .filter {
        margin-block: 50px 40px;
        overflow: hidden;
        form {
            transition: 0.2s ease-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            row-gap: 20px;
            label {
                font-weight: 600;
                margin-right: 10px;
            }
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            input {
                border-radius: 7px;
                font-size: 1.03rem;
                &[name="min"],
                &[name="max"]{
                    width: 100px;
                }
                &:nth-of-type(1){
                    margin-right: 10px;
                }
                &[type="checkbox"]{
                    border-radius: 50%;
                }
                &[type="submit"]{
                    width: 100px;
                    padding-block: 10px;
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                    border: none;
                    background-color: var(--second-blue-color);
                    cursor: pointer;
                }
            }
        }
        &.hide form {
            translate: -100%;
        }
        &.show form {
            translate: 0;
        }
    }
    .prod {
        margin-block: 40px 50px;
        .content{
            /* display: flex;
            justify-content: center; */
            display: grid;
            @media (min-width:790px) {
                grid-template-columns: 1fr 1fr;
                column-gap: 60px;
            }
            .imgHolder{
                .productImg{
                    width: 100%;
                    border: 1px solid #e3e3e3;
                    border-radius: 20px;
                    height: 400px;
                    object-fit: contain;
                }
                .imgs{
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .oproductImg{
                        height: 100px;
                        width: 100px;
                        object-fit: contain;
                        border: 1px solid #e3e3e3;
                        border-radius: 20px;
                    }
                }
            }
            .first{
                h1{
                    font-size: clamp(25px, 5vw, 30px);
                }
                .description{
                    margin-top: 15px;
                    color: #707070;
                    font-size: clamp(12px, 5vw, 14px);
                }
                .price{
                    margin-top: 20px;
                    display: flex;
                    p{
                        font-weight: 500;
                        margin-left: 10px;
                        color: var(--second-orange-color);
                    }
                }
                .ship{
                    margin-top: 10px;
                    display: flex;
                    span{
                        margin-left: 10px;
                        font-weight: 500;
                        color: rgb(22, 202, 22);
                    }
                }
                padding-block: 20px 30px;
                border-bottom: 1px solid #e3e3e3;
            }
            .second{
                > div{
                    margin-bottom: 10px;
                    display: flex;
                    :last-child{
                        margin-left: 10px;
                    }
                }
                padding-block: 20px;
                border-bottom: 1px solid #e3e3e3;
            }
            .third{
                margin-top: 20px;
                button{
                    font-weight: bold;
                    border-radius: 7px;
                    padding-block: 10px;
                    width: 100px;
                    color: white;
                }
                .accept{
                    background-color: var(--second-orange-color);
                }
                .reject{
                    margin-left: 10px;
                    background-color: var(--second-blue-color);
                }
            }
            .mySwiperr {
                width: 100%;
                @media (max-width:1119px) {
                    height: 485px;
                }
                overflow-x: hidden;
                overflow-y: visible;
                &::-webkit-scrollbar {
                    display: none;
                }
                border: 1px solid #e3e3e3;
                border-radius: 20px;
            }
            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
              
                /* Center slide text vertically */
                /* display: flex;
                justify-content: center; */
                /* align-items: center; */
            } 
              
            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              } 
              
              .swiper-slide {
                width: 60%;
              }
              
              .swiper-slide:nth-child(2n) {
                width: 40%;
              }
              
              .swiper-slide:nth-child(3n) {
                width: 20%;
              }
              .swiper-button-next:after{
                color: var(--main-blue-color);
              }
              
            .swiper-button-prev:after{
                color: var(--main-blue-color);
            }
            .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
                  background-color: var(--main-blue-color);
              }
        }
      }
}