.searchP {
    min-height: 100vh;
    margin-block: 40px 50px;
    span {
        /* height: fit-content;
        width: fit-content; */
        display: block;
        position: relative;
        width: 50%;
        @media (max-width:899px) {
            width: 100%;
        }
        img {
          position: absolute;
          top: 50%;
          right: 15px;
          translate: 0 -50%;
        }
        margin: 0 auto;
    }
    .searchInp {
        border-radius: 7px;
        font-size: 1.03rem;
        width: 100%;
        position: relative;
        border: 1px solid #dcdcdc;
        &::after{
            content: "";
            display: block;
            height: 30px;
            width: 30px;
            background-image: url("/search.png");
            background-size: cover;
            position: absolute;
            right: 10px;
            top: 50%;
            translate: 0 -50%;
        }
    }
    .title {
        pointer-events: none;
        @media (max-width:899px) {
            pointer-events: all;
            
        }
        translate: 0 20px;
        margin-left: 20px;
        padding-block: 25px 0px;
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: var(--second-orange-color);
        img{
            margin-left: 10px;
        }
    }
    .title.show + div .filters{
        left: 0;
    }
    .layout{
        margin-top: 30px;
        @media (min-width:900px) {
            display: grid;
            grid-template-columns: 320px 1fr;
            column-gap: 20px;
        }
        .filterside {
            /* width: 300px; */
            /* border: 1px solid #dcdcdc; */
            /* padding-left: 20px; */

            h3 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            label {
                font-size: 15px;
                font-weight: 500;
                margin-left: 10px;
            }
            .part{
                margin-top: 10px;
            }
            .categoryFilter{
                margin-block: 10px;
                .categoryLine {
                    display: flex;
                    align-items: center;
                }
                .subCategoriesLine{
                    margin-left: 20px;
                }
                .line,
                .subcategoryLine{
                    display: flex;
                    align-items: center;
                    input:disabled{
                        background-color: #dadada;
                        + label{
                            color: #707070;
                        }
                    }
                }
            }
            .other {
                input:not([type="checkbox"]){
                    border-radius: 7px;
                    font-size: 1.03rem;
                    &[name="min"],
                    &[name="max"]{
                        width: 100px;
                    }
                    &:nth-of-type(1){
                        margin-right: 10px;
                    }
                    &[type="checkbox"]{
                        border-radius: 50%;
                    }
                }
                .line{
                    margin-bottom: 10px;
                }
            }
            input[type="checkbox"]{
                color: var(--second-blue-color);
            }
            input[type="submit"]{
                border-radius: 7px;
                width: 100px;
                padding-block: 10px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                border: none;
                background-color: var(--second-orange-color);
                cursor: pointer;
                margin-block: 20px 40px;
            }
            @media (max-width:899px) {
                width: 300px;
            }
            .filters{
                z-index: 10;
                background-color: white;
                transition: 0.3s ease-out;
                padding-top: 20px;
                border: 1px solid #dcdcdc;
                padding-left: 20px;
                border-radius: 0 10px 10px 0;
                @media (max-width:899px) {
                    box-shadow: 5.0px 9.9px 9.9px hsl(0deg 0% 0% / 0.35);
                    cursor: pointer;
                    position: absolute;
                    left: -100%;
                }
            }
        }
        .products {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 40px 20px;
            margin-bottom: 70px;
            margin-right: 20px;
            @media (max-width:899px) {
                margin-left: 20px;
            }
            .product {
                text-align: start;
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                /* justify-content: space-between; */
                .img {
                    border-radius: 10px;
                    margin-bottom: 10px;
                    height: 300px;
                    /* box-shadow: 0 0 0 0 black; */
                    border: 1px solid #dcdcdc;
                    position: relative;
                    .heart {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        padding: 7px 6px 6px 6px;
                        background-color: white;
                        border-radius: 50%;
                        cursor: pointer;
                        border: 1px solid #dcdcdc;
                        transition: 0.2s ease-out;
                        &:hover {
                            background-color: rgba(255, 0, 0, 0.131);
                        }
                    }
                }
                p {
                    font-size: 13px;
                    width: 100%;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    /* margin-block: 10px; */
                    line-height: 1.3;
                    color: #707070;
                    /* translate: 0 -10px; */
                    margin-top: 45px;
                    /* margin-bottom: px; */
                }
                .front {
                    translate: 0 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    h3:first-child{
                        line-height: 1.25;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                    }
                    h3:nth-child(2){
                        translate: 0 -1px;
                        color: var(--main-orange-color);
                    }
                }
                .button {
                    translate: 0 10px;
                    /* z-index: 10; */
                    width: fit-content;
                    font-size: 16px;
                    font-weight: 600;
                    padding: 8px 15px;
                    border: 2px solid black;
                    border-radius: 50px;
                    /* vertical-align: bottom; */
                    margin-top: auto;
                    transition: 0.2s ease-out;
                    &:hover {
                        background-color: var(--second-blue-color);
                        color: white;
                        border-color: var(--second-blue-color);
                    }
                }
            }
        }
    }
    .pagination{
        @media (max-width:899px) {
            
            display: grid;
            place-items: center;
            ul {
                font-size: 13px;
                li:first-child button,
                li:last-child button{
                    display: flex;
                    align-items: center;
                    padding-block: 4px;
                    width: fit-content;
                    /* width: 70px; */
                    padding-inline:4px;
                }
    
                li:not(:first-child):not(:last-child){
                    width: 35px;
                    text-align: center;
                    button{
                        width: 100%;
                        padding-inline: 5px;
                        padding-block: 6px;
                    }
                } 
            }
        }
    }
    .not-found{
        text-align: center;
    }
}